<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field>
    <input placeholder="{{action}} Key" matInput [(ngModel)]="localData.Key">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="{{action}} Summary" matInput [(ngModel)]="localData.Summary">
  </mat-form-field>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
